[submodule "nova-wallet-dapp-js"]
	path = nova-wallet-dapp-js
	url = https://github.com/novasamatech/nova-wallet-dapp-js.git
[submodule "nova-wallet-metamask-js"]
	path = nova-wallet-metamask-js
	url = https://github.com/novasamatech/nova-wallet-metamask-js.git
