*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/aidl/
app/*.apk
/.idea/

# ignore jacoco coverage reports
/coverage

*.jks
!develop_key.jks
.java-version

# ignore database schemas
/core-db/schemas/io.novafoundation.nova.core_db.AppDatabase/*.json

# database schemas exceptions
!/core-db/schemas/io.novafoundation.nova.core_db.AppDatabase/1.json
!/core-db/schemas/io.novafoundation.nova.core_db.AppDatabase/2.json
!/core-db/schemas/io.novafoundation.nova.core_db.AppDatabase/8.json
!/core-db/schemas/io.novafoundation.nova.core_db.AppDatabase/9.json

google-services.json

