name: Android CI

env:
  MOONPAY_TEST_SECRET: ${{ secrets.MOONPAY_TEST_SECRET }}
  SUBSCAN_API_KEY: ${{ secrets.SUBSCAN_API_KEY }}
  MOONPAY_PRODUCTION_SECRET: ${{ secrets.MOONPAY_PRODUCTION_SECRET }}
  CI_KEYSTORE_PASS: ${{ secrets.CI_KEYSTORE_PASS }}
  CI_KEYSTORE_KEY_ALIAS: ${{ secrets.CI_KEYSTORE_KEY_ALIAS }}
  CI_KEYSTORE_KEY_PASS: ${{ secrets.CI_KEYSTORE_KEY_PASS }}

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle

    - name: Setup Android NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r21d

    - name: Rename NDK 21 folder to NDK 23
      run: |
        rm -rf /usr/local/lib/android/sdk/ndk/23.0.7599858
        mv /usr/local/lib/android/sdk/ndk/21.4.7075529 /usr/local/lib/android/sdk/ndk/23.0.7599858
      
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew assembleDebug

    - name: Run tests 
      run: ./gradlew runTest

