name: Develop with deploy debug app

on: [pull_request]
  # push:
  #   branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nova-wallet/build_tools:pr-2
      credentials:
        username: stepanLav
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      ACALA_PROD_AUTH_TOKEN: ${{ secrets.ACALA_PROD_AUTH_TOKEN }}
      ACALA_TEST_AUTH_TOKEN: ${{ secrets.ACALA_TEST_AUTH_TOKEN }}
      MOONBEAM_PROD_AUTH_TOKEN: ${{ secrets.MOONBEAM_PROD_AUTH_TOKEN }}
      MOONBEAM_TEST_AUTH_TOKEN: ${{ secrets.MOONBEAM_TEST_AUTH_TOKEN }}
      MOONPAY_PRODUCTION_SECRET: ${{ secrets.MOONPAY_PRODUCTION_SECRET }}
      MOONPAY_TEST_SECRET: ${{ secrets.MOONPAY_TEST_SECRET }}

      CI_KEYSTORE_PASS: ${{ secrets.CI_KEYSTORE_PASS }}
      CI_KEYSTORE_KEY_ALIAS: ${{ secrets.CI_KEYSTORE_KEY_ALIAS }}
      CI_KEYSTORE_KEY_PASS: ${{ secrets.CI_KEYSTORE_KEY_PASS }}

    steps:
      - uses: actions/checkout@v2

      - name: Bump version
        uses: chkfung/android-version-actions@v1.1
        with:
          gradlePath: app/build.gradle
          versionCode: ${{github.run_number}}

      - name: Run tests
        run: ./gradlew runTest

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - name: Upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.ANDROID_DEV_FIREBASE_APP_ID }}
          token: ${{ secrets.ANDROID_DEV_FIREBASE_TOKEN }}
          releaseNotes: '${GITHUB_SHA::6} ${{ github.event.head_commit.message }}'
          groups: dev-team
          file: app/build/outputs/apk/debug/app-debug.apk
