name: Build test and deploy develop apk

on: [pull_request]
  # push:
  #   branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nova-wallet/build_tools:pr-3
      credentials:
        username: stepanLav
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      ACALA_PROD_AUTH_TOKEN: ${{ secrets.ACALA_PROD_AUTH_TOKEN }}
      ACALA_TEST_AUTH_TOKEN: ${{ secrets.ACALA_TEST_AUTH_TOKEN }}
      MOONBEAM_PROD_AUTH_TOKEN: ${{ secrets.MOONBEAM_PROD_AUTH_TOKEN }}
      MOONBEAM_TEST_AUTH_TOKEN: ${{ secrets.MOONBEAM_TEST_AUTH_TOKEN }}
      MOONPAY_PRODUCTION_SECRET: ${{ secrets.MOONPAY_PRODUCTION_SECRET }}
      MOONPAY_TEST_SECRET: ${{ secrets.MOONPAY_TEST_SECRET }}

      CI_KEYSTORE_PASS: ${{ secrets.CI_KEYSTORE_PASS }}
      CI_KEYSTORE_KEY_ALIAS: ${{ secrets.CI_KEYSTORE_KEY_ALIAS }}
      CI_KEYSTORE_KEY_PASS: ${{ secrets.CI_KEYSTORE_KEY_PASS }}

    steps:
      - uses: actions/checkout@v2

      - name: Bump version
        uses: chkfung/android-version-actions@v1.1
        with:
          gradlePath: app/build.gradle
          versionCode: ${{github.run_number}}

      # - name: Run tests
      #   run: ./gradlew runTest

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - uses: actions/upload-artifact@v2
        with:
          name: apk
          path: app/build/outputs/apk/debug/

  upload:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download built artifact
        uses: actions/download-artifact@v2
        with:
          name: apk
          path: app

      - name: Create Release notes
        run: echo "RELEASE_NOTES=$(git log -1 --pretty=short)" >> $GITHUB_ENV

      - name: Upload artifact to Firebase App Distribution
        id: upload
        continue-on-error: true
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.ANDROID_DEV_FIREBASE_APP_ID }}
          token: ${{ secrets.ANDROID_DEV_FIREBASE_TOKEN }}
          releaseNotes: ${{ env.RELEASE_NOTES }}
          groups: dev-team
          file: app/app-debug.apk

      - name: Sleep for 60 seconds
        uses: whatnick/wait-action@master
        if: steps.upload.outcome=='failure'
        with:
          time: '60s'

      - name: Retry upload artifacts
        if: steps.upload.outcome=='failure'
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.ANDROID_DEV_FIREBASE_APP_ID }}
          token: ${{ secrets.ANDROID_DEV_FIREBASE_TOKEN }}
          releaseNotes: ${{ env.RELEASE_NOTES }}
          groups: dev-team
          file: app/app-debug.apk